.list {
  margin-bottom: 30px;

  &__add-button {
    -webkit-transition: all 0.6s ease-in-out;
    span {
      color: #767676;
    }

    &:hover {
      -webkit-transition: all 0.6s ease-in-out;
      img {
        opacity: 1;
      }

      span {
        color: black;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;

    &.active {
      background: #ffffff;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    i {
      margin-right: 7px;
      display: inline-flex;

      img {
        height: 14px;
        opacity: 0.6;
      }
    }
  }
}