.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    -webkit-transition: all 0.4s ease-in-out;
    span {
      color: #767676;
    }

    &:hover {
      -webkit-transition: all 0.4s ease-in-out;
      img {
        opacity: 1;
      }

      span {
        color: black;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    -webkit-transition: all 0.4s ease-in-out;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
      -webkit-transition: all 0.4s ease-in-out;
    }

    #{$self}__remove-icon {
      height: 10px;
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    span {
      flex: 1;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      -webkit-transition: all 0.4s ease-in-out;
    }

    &.active {
      background: #ffffff;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    i {
      margin-right: 7px;
      display: inline-flex;

      img {
        height: 14px;
        opacity: 0.6;
      }
    }
  }

}