.add-list {
  &__popup {
    width: 235px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    padding: 18px;
  }
}