* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: -apple-system, 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #c4c4c4;
  border-radius: 10px;

  &__sidebar {
    background-color: #ededee;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #c4c4c4;
    padding: 60px 20px;   
  }

  &__tasks {
    flex: 1;
    padding: 60px;

  }
}



.button {
  background: #4f57b8;
  border-radius: 4px;
  color: white;
  border: 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;

  &:hover {
    background: darken(#4f57b8, 10%);
    color: white;
    -webkit-transition: all 0.4s ease-in-out;
  }
}

.field {
  background: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;

  &:hover {
    border-color: #767676;
    -webkit-transition: all 0.4s ease-in-out;
  }
}